<div class="background">
  <h1><b>YOUR SAVED PLAYLIST</b></h1>
  <hr />

  <h3> HERE YOU CAN FIND ALL YOUR SAVED PLAYLIST AND SOME INFO! </h3>

  <h6><b>TOTAL PLAYLIST: </b> {{playlists?.total}}</h6>
  <br />
  
  <div class="section">
    <table class="table">
      <thead>
        <tr>
          <th scope="row"> </th>
          <th scope="row">PLAYLIST </th>
          <th scope="row">OWNER </th>
          <th scope="row">DESCRIPTION </th>
          <th scope="row">TRACKS </th>
          <th scope="row">ID</th>
          <th scope="row">URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playlist of playlists?.items">
          <td><img class="img" [src]="getImage(playlist)" /></td>
          <td>{{playlist?.name}}</td>
          <td>{{playlist?.owner.display_name}}</td>
          <td>{{playlist?.description}}</td>
          <td>{{playlist?.tracks.total}}</td>
          <td>{{playlist?.id}}</td>
          <td>{{playlist?.external_urls.spotify}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
