.thumbnail {
  min-height: 210px;
  background: #212121;
  text-align: center;
  font-weight: bold;

  &.thumbnail-number {
    background: #1DB954;
    text-align: center;

    & .title {
      font-size: 100px;
      font-weight: bold;
    }
  }

  &.thumbnail-green {
    background: #1DB954;
  }

  &.thumbnail-image {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #191414;
  }

  /*&.thumbnail-image:hover {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 120%;
    height: 120%;
  }*/
}
.pad-left {
  margin-left: 10px;
}
