.thumbnail {
  min-height: 210px;
  background: #212121;
  text-align: center;
  font-weight: bold;

  &.thumbnail-number {
    background: #1DB954;
    text-align: center;

    & .title {
      font-size: 100px;
      font-weight: bold;
    }
  }

  &.thumbnail-green {
    background: #1DB954;
  }

  &.thumbnail-image1 {
    background-image: url("../../../assets/images/playlist1.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }

  &.thumbnail-image2 {
    background-image: url("../../../assets/images/playlist2.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
}

.pad-left {
  margin-left: 10px;
}
