<h1><b> YOUR INFO </b></h1>
<hr />



<h3> HERE YOU CAN FIND ALL YOUR INFO! </h3>

<br />
<img [src]="(getImage$()|async)" />
<br />
<br />
<div class="section">
  <table class="table">
    <tr>
      <td><b>USERNAME: </b></td>
      <td>{{(userInfo$|async)?.display_name}}</td>
    </tr>
    <tr>
      <td><b>E-MAIL: </b></td>
      <td>{{(userInfo$|async)?.email}}</td>
    </tr>
    <tr>
      <td><b>ID: </b></td>
      <td>{{(userInfo$|async)?.id}}</td>
    </tr>
    <tr>
      <td><b>COUNTRY: </b></td>
      <td>{{(userInfo$|async)?.country}}</td>
    </tr>
    <tr>
      <td><b>FOLLOWERS: </b></td>
      <td>{{(userInfo$|async)?.followers?.total}}</td>
    </tr>
    <tr>
      <td><b>TYPE OF SUBSCRIPTION: </b></td>
      <td>{{(userInfo$|async)?.product}}</td>
    </tr>
    <tr>
      <td><b>URL: </b></td>
      <td>{{(userInfo$|async)?.href}}</td>
    </tr>
  </table>
  <button (click)="logOut()" class="botlogout">LOG OUT</button>
</div>
