<div class="background">
  <h1><b> YOUR SAVED ALBUMS </b></h1>
  <hr />

  <h3> HERE YOU CAN FIND ALL YOUR SAVED ALBUMS AND SOME INFO! </h3>

  <h6><b>TOTAL ALBUM: </b> {{albums?.total}} </h6>
  <br>

  <div>
    <table class="table" >
      <thead>
        <tr>
          <th scope="row"> </th>
          <th scope="row">ALBUM </th>
          <th scope="row">ARTIST </th>
          <th scope="row">RELEASE DATE </th>
          <th scope="row">ADDED AT </th>
          <th scope="row">TOTAL TRACKS </th>
          <th scope="row">ID</th>
          <th scope="row">URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albums?.items">
          <td><img [src]="getImage(album)" /></td>
          <td>{{album?.album.name}}</td>
          <td>{{getArtist(album)}}</td>
          <td>{{album?.album.release_date}}</td>
          <td>{{album.added_at}}</td>
          <td>{{album.album.total_tracks}}</td>
          <td>{{album.album.id}}</td>
          <td>{{album.album.external_urls.spotify}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
