<div class="background">
  <h1><b> YOUR SAVED ALBUMS </b></h1>
  <hr />

  <h3> HERE YOU CAN FIND ALL YOUR SAVED ALBUMS AND SOME INFO! </h3>

  <h6><b>Total Album: </b> {{albums?.total}} </h6>
  <br>

  <div>
    <table class="table" >
      <thead>
        <tr>
          <th scope="row"> </th>
          <th scope="row">Album Name: </th>
          <th scope="row">Artist Name: </th>
          <th scope="row">Release Date:</th>
          <th scope="row">Added At:</th>
          <th scope="row">Total tracks:</th>
          <th scope="row">External Url:</th>
          <th scope="row">Id:</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albums?.items">
          <td><img [src]="getImage(album)" /></td>
          <td>{{album?.album.name}}</td>
          <td>{{getArtist(album)}}</td>
          <td>{{album?.album.release_date}}</td>
          <td>{{album.added_at}}</td>
          <td>{{album.album.total_tracks}}</td>
          <td>{{album.album.external_urls.spotify}}</td>
          <td>{{album.album.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
