<div class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <a class="navbar-brand"><img src="assets/images/Green_Logo.png" alt="Logo" /></a>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/dashboard/1/albums']">Album</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/dashboard/5/playlists']">Playlist</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/dashboard/9/tracks']">Track</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/dashboard/8/podcasts']">Podcast</a>
        </li>
      </ul>

      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <div class="dropdown">
              <span>{{(userInfo$|async)?.display_name}}</span>
              <div class="dropdown-content">
                <a [routerLink]="['/dashboard/12/you']"> Profile </a>
                <br />
                <a href="https://www.spotify.com/it/download/windows/">Download</a>
                <br />
                <a href="https://www.spotify.com/it/account/overview/?utm_source=spotify&utm_medium=menu&utm_campaign=your_account">Account Overview</a>
                <hr />
                <button (click)="logOut()" class="botlogout">LOG OUT</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
