<div class="navbar navbar-default" >
  <div class="navbar-container" >
    <div class="navbar-header">
      <a [routerLink]="['/dashboard']" class="navbar-brand"><img src="assets/images/Green_Logo.png" alt="Logo" /></a>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li>
          <a href="https://developer.spotify.com/dashboard">Spotify Developer</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a href="#">Album</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a href="#">Playlist</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a href="#">Tracks</a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <a href="#">Podcast</a>
        </li>
      </ul>

      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/home']">{{(userInfo$|async)?.display_name}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
