<div class="background">
  <h1><b> YOUR SAVED TRACKS </b></h1>
  <hr />

  <h3> HERE YOU CAN FIND ALL YOUR SAVED TRACKS AND SOME INFO! </h3>

  <h6><b>TOTAL TRACKS: </b>{{tracks?.total}}</h6>
  <br />

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="row"> </th>
          <th scope="row">TRACK </th>
          <th scope="row">ALBUM </th>
          <th scope="row">ARTIST </th>
          <th scope="row">DURATION</th>
          <th scope="row">POPULARITY</th>
          <th scope="row">ID</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks?.items">
          <td><img [src]="getImage(track)" /></td>
          <td>{{track?.track.name}}</td>
          <td>{{track?.track.album.name}}</td>
          <td>{{getArtist(track)}}</td>
          <td>{{track?.track.duration_ms}} ms</td>
          <td>{{track?.track.popularity}}</td>
          <td>{{track?.track.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
