<div class="background">
  <h1><b>TOP 5 TRACKS</b></h1>
  <hr />

  <h3> HERE YOU CAN FIND YOUR TOP 5 TRACKS FROM THE LAST 30 DAYS! </h3>
  <h6><b>Tracks: </b> </h6>
  <br />

  <div class="section">
    <table class="table">
      <thead>
        <tr>
          <th scope="row">track </th>
          <th scope="row">artist </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngfor="let song of songs?.items">
          <!--<td>{{song?.name}}</td>-->
          <!--<td>{{playlist?.owner.display_name}}</td>-->
        </tr>
      </tbody>
    </table>
  </div>
</div>
